/* 
   Global Reset and Base Styles 
*/


/* Box-sizing enseres padding and border does not increse the elements size*/

*, *::before, *::after {
    box-sizing: border-box;
}

/* Remove default margin and padding from the body */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #001f3f;
    background-color: #d3d3d3;
}

/* Remove list styles for navigation */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Base Link style */
a {
    color: #d3d3d3;
    text-decoration: none;
}

a:hover {
    margin-left: 2px;
    font-size: 1.1rem;
    color: #634e99;
}

/* 
    Layout and Structure Styles (applies for all pages)
*/

.header-container, footer-container, main {
    max-width: 1200px;
    margin: 0 auto; /* Center the container */
    padding: 0 20px; /* Add some horizontal padding */
}


/* 
    Header and Navigation Styles 
*/

header {
    background-color: #001f3f;
    border-bottom: 1px solid #001f3f;
    padding: 10px 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.client-logo {
    max-height: 50px;
    margin-right: 15px;
}

nav ul {
    display: flex;
    gap: 20px; 
}

/* 
    Footer Styles 
*/

footer {
    background-color: #001f3f;
    color: #d3d3d3d3;
    padding: 20px 0;
    margin-top: 30px;
    font-size: 0.9rem;
}

.footer-info {
    margin-left: 25px;
}

.footer-nav-social {
    margin-right: 25px;
}

.footer-nav a:hover {
    cursor: pointer;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 15px;
}

.copyright-bar {
    text-align: center;
    border-top: 1px solid #d3d3d3d3;
    padding-top: 10px;
}

.copright-bar p {
    margin: 0;
}

/*
  Style for Material Symbols (google_icons)
*/

.material-symbols-outlined {
    font-size: 24px;
    color: #d3d3d3;
    margin-right: 10px
}